.carousal-container {
  display: flex;
  justify-content: space-around;
}

.popular-restaurants-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid red;
  padding: 30px 0px 30px 300px;
}

.heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #183b56;
}
.sort-by-container {
  display: flex;
  justify-content: space-between;
}

.inner-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #64748b;
}
